*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.tc_full
{
    background: rgba(233, 219, 230, 0.341);
    font-size: 15px;
}
.flex_align_justify
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.flex_align{
    display:flex;
    align-items: center;
    
}
.wrapper{
    min-height: 100vh;
    padding: 0 20px;
}
.terms_condition
{
    width: 600px;
    max-width: 100%;
    height: 450px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);

}
.terms_condition .tc_item{
    padding: 20px 40px;
}
.terms_condition .tc_head{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    height: 90px;
}
.terms_condition .tc_head .tc_icon{
    width: 50px;
    height: 50px;
    background: rgb(241, 105, 217);
    margin-right: 20px;
    border-radius: 50%;
    font-size: 45px;
    color: white;
}
.terms_condition .tc_body{
    height: calc(100% - 170px);
    overflow: auto;
    padding-right: 20px;
}
.terms_condition .tc_body ol{
    list-style: none;
}
.terms_condition .tc_body ol li{
    margin-bottom: 15px;
}
.terms_condition .tc_body ol li h3{
    margin-bottom: 5px;
    /* margin-right: 250px; */
}
.terms_condition .tc_foot{
    box-shadow: 0 -1px 2px rgba(0,0,0,0.15);
    justify-content: space-between;
    height: 80px;
}
.terms_condition .tc_foot button{
    width: 100%;
    border: 1px solid rgb(101, 88, 98);
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.terms_condition .tc_foot button.tc_decline_btn{
    margin-right: 20px;
    background: white;
    color: rgb(123, 105, 119);
}
.terms_condition .tc_foot button.tc_accept_btn{
    color: white;
    background:rgb(123, 105, 119);
}
.terms_condition .tc_foot button.tc_decline_btn:hover{
    color: white;
    background: rgb(123, 105, 119);
}
.terms_condition .tc_foot button.tc_accept_btn:hover{
    background: rgb(123, 105, 119);
}

.tc_accept {
    text-align: center;
    margin-bottom: 20px;
    
  }.tc_accept input
  {
    margin-left: -230px;
  }
  .tc_accept label{
    margin-left: 170px;
    margin-top: -33px;
  }
  
  input[type="radio"]#tc_accept {
    margin-right: 5px;
  }