/* src/components/UserActivityTable.css */

.table-container {
    text-align: center;
    margin: 20px;
  }
  
  .user-activity-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .user-activity-table th,
  .user-activity-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-activity-table th {
    background-color: #f2f2f2;
  }
  
  .user-activity-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  