.pie-chart-container {
  display: flex;
  position: absolute;
  top:10%;
  flex-direction: column;
  /* margin-top: 70px; */
  margin-left: 9%;
}
.h2{
 
  margin-right: 9%;
  margin-bottom: -51px;

}
.analysis-container
{
  background-color:rgba(120, 164, 197, 0.301);
  height: 100vh;
}
.bar-chart-container
{
position: absolute;
top:10%;
left:55%;
}