.carousel-inner > .item {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.2s ease-in-out !important;
    transition: transform 1.2s ease-in-out !important;
  }
  
  .testimonial-carousel .carousel-control {
    background-image: none;
    top: 50%;
    transform: translateY(-35%);
  }
  
  .testimonial-carousel .carousel-control:before {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
  }
  
  .testimonial-carousel .carousel-control:hover:before {
    color: #000;
    transition: 0.4s;
  }
  
  .testimonial-carousel .carousel-control.left:before {
    content: "\2039";
  }
  
  .testimonial-carousel .carousel-control.right:before {
    content: "\203a";
  }
  
  .testimonial-carousel .testimonial {
    margin-right: 23%;
    margin-left: 23%;
  }
  
  .testimonial-carousel .testimonial .avatar img {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    max-width: 170px;
  }
  
  .carousel-multi-item {
    margin-bottom: 5rem;
  }
  
  .carousel-multi-item .carousel-inner .carousel-item.active,
  .carousel-multi-item .carousel-item-next,
  .carousel-multi-item .carousel-item-prev {
    display: block;
  }
  
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-next,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-prev,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item.active {
    display: flex;
  }
  
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-next,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-right.active {
    transform: translateX(33%);
  }
  
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-left.active,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-33%);
  }
  
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-left,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-right {
    transform: translateX(0);
  }
  
  .carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: #4285f4;
    margin-bottom: -3.75rem;
  }
  
  .carousel-multi-item .carousel-indicators .active {
    height: 1.56rem;
    width: 1.56rem;
    max-width: 1.56rem;
    background-color: #4285f4;
    border-radius: 50%;
  }
  
  .carousel-multi-item .controls-top {
    text-align: center;
    margin-bottom: 1.88rem;
  }
  
  .carousel-multi-item .controls-top .btn-floating {
    background: #4285f4;
  }
  
  .carousel-multi-item .carousel-indicators {
    margin-bottom: -2em;
  }
  
  .carousel-multi-item .card-cascade.narrower {
    margin-top: 1.25rem;
    margin-bottom: 0.3rem;
  }
  
  @media (min-width: 768px) {
    .carousel-multi-item .col-md-4 {
      float: left;
      width: 33.333333%;
      max-width: 100%;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .carousel-multi-item .carousel-indicators li {
      margin-bottom: -1.88rem;
    }
  }
  
  .carousel-thumbnails .carousel-indicators {
    white-space: nowrap;
    overflow-x: auto;
    width: initial;
    margin-left: initial;
    margin-right: initial;
  }
  
  .carousel-thumbnails .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
  }
  
  .carousel-thumbnails .carousel-indicators > li .active img {
    opacity: 1;
  }
  
  .wrapper-carousel-fix .carousel-fade .active.carousel-item-left,
  .wrapper-carousel-fix .carousel-fade .active.carousel-item-right {
    transition: transform 0.6s ease;
    transition-property: opacity;
  }
  