:root {
    --color-background: #f9eeec;
    --color-point: #151415;
    --color-extra: #1b1918;
    --white: rgba(252, 250, 250, 0.741);
    --black: rgb(49, 49, 49);
  
    --padding-small: 0.5em;
    --padding-medium: 1em;
  
    --font-small: 0.75rem;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  #Signupbody{
    background-image: url("https://static01.nyt.com/images/2015/07/19/travel/19BLACKTRAVEL1/19BLACKTRAVEL1-superJumbo.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;

  }
  
  .register-popUp {
    margin: 4em;
    max-width: 64em;
    display: flex;
    background: var(--white);
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    

    
  }
  
  img {
    width: 100%;
    height: 100%;
    min-width: 326px;
    border-radius: 0 16px 16px 0;
    flex-grow: 2;
  }
  
  .web-left {
    padding: 6em 8em;
    color: var(--black);
    font-size: var(--font-small);
    flex-grow: 3;
    padding-top: 100px;
  }
  
  h1 {
    color: var(--color-point);
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  a {
    color: var(--color-point);
    text-decoration: none;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: var(--padding-medium);
    
  }
  
  input {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: solid 1.8px var(--color-extra);
    margin-top: var(--padding-small);
  }
  
  ::placeholder {
    color: var(--color-extra);
    padding-left: var(--padding-small);
    font-size: var(--font-small);
  }
  
  .register button {
    background: var(--color-point);
    color: var(--white);
    width: 101%;
    height: 36px;
    border-radius: 8px;
    border: solid 1.8px var(--color-point);
    margin-top: var(--padding-small);
  }
  
  .join-with-sns {
    margin-top: var(--padding-medium);
  }
  
  .join-with-sns .fab {
    margin: var(--padding-medium) var(--padding-small);
  }
  
  .log-in {
    margin-top: var(--padding-small);
    position: absolute;
    top: 440px;
    right:680px;
    font-size: 12px;
  }
  
  @media screen and (max-width: 44em) {
    img {
      display: none;
    }
  
    body::before {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcvLjcY%2FbtqIROc60YY%2Fajj5WK2IMkzF5PDk59RNC1%2Fimg.jpg);
      background-size: cover;
      filter: blur(2px);
      z-index: -1;
      content: "";
    }
  
    .register-popUp {
      margin: 2em;
    }
  
    .web-left {
      padding: 4em;
    }
  }
  